<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.meikenn.tama</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tama</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>809E</string>
	</array>
	<key>CLIENT_ID</key>
	<string>$(CLIENT_ID)</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>$(REVERSED_CLIENT_ID)</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tama.meikenn.com</string>
</dict>
</plist>
